@font-face {
    font-family: AvenirLTStd-Book;
    src: url(./fonts/AvenirLTStd-Book.otf);
}
@font-face {
    font-family: AvenirLTStd-Black;
    src: url(./fonts/AvenirLTStd-Black.otf);
}
@font-face {
    font-family: AvenirNextLTPro-Regular;
    src: url(./fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
    font-family: AvenirLTStd-Roman;
    src: url(./fonts/AvenirLTStd-Roman.otf);
}
@font-face {
    font-family: Intro-Bold-Regular;
    src: url(./fonts/Intro\ Bold\ Regular.ttf);
}
@font-face {
    font-family: Poppins-Bold;
    src: url(./fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: Intro-Bold-Regular;
    src: url(./fonts/Intro\ Bold\ Regular.ttf);
}
@font-face {
    font-family: Intro-Demo-BlackCaps;
    src: url(./fonts/IntroDemo-BlackCaps.otf);
}


/* banner section */
#banner-btn{
    background-color: #097115;
    font-size:20px;
    color:white;
    border:none;
    cursor:pointer;
    padding:5px 12px;
    font-family: Intro-Demo-BlackCaps;
}
.nav-sec{
    background-color:rgb(52,77,38,0.5);
    color:white;
}
.set-back-img{
    position:relative;
    width:300px;
}
@media screen and (max-width:767px){
    .set-back-img{
        width:100px;

    }

}
.back-image{
    position:absolute;
    left:0;
    top:490%;
    opacity:0.5;
}
@media screen and (max-width:767px){
    .back-image{
        position:absolute;
        left:0;
        top:330%;
        opacity:0.5;
        width:100px;
    }
}
.logo{
    position:absolute;
    left:14%;
    top:-170%
}
@media screen and (max-width:767px){
    .logo{
        position:absolute;
        left:25%;
        top:200%;
        opacity:0.5;
        width:50px;
        
    }
}
.nav-link-text{
    color:white !important;
    font-size:12px;
    font-family: Intro-Demo-BlackCaps;
}
.banner-content{
    position:relative;
}
.banner-title{
    color:#ffffff;
    font-size:70px;
    font-family: Intro-Demo-BlackCaps;
    /* max-width:300px; */
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-transform:uppercase;
}
@media screen and (min-width:320px) and (max-width:576px){
    .banner-title{
      font-size:16px;
    }
}
@media screen and (min-width:577px) and (max-width:768px){
    .banner-title{
       font-size:32px;
    }
}
.banner-icon{
    color:white !important;
    font-size:18px;
}

/* years section */
.years-text{
    color:#000000;
    font-size:20px;
    font-family: AvenirNextLTPro-Regular;
    align-self:center;
}
.ayurvedic-section{
    background-image:linear-gradient(to bottom, #ffffff, #85D1D1);
    padding-top:14px;
    padding-bottom:14px;
}
.diclofenac-label{
    background-color:#953F19;
    border-radius:9px;
    color:#ffffff;
    font-size:17px;
    padding:8px;
    border:none;
    font-family: AvenirNextLTPro-Regular;
}
.amrutanjan-text{
    color:#000000;
    font-size:28px;
    margin-left:10px;
    align-self:center;
    font-family: AvenirNextLTPro-Regular;
}
/* shop category section */
.categories-section{
    
    background-image:url(images/shop-categery-bg.png);
    background-size:cover;
    background-repeat:no-repeat;
    padding-top:48px;
    padding-bottom:48px;
    overflow:hidden;
}
.shop-title{
    color:#000000;
    font-size:50px;
    text-align:center;
    font-family: Intro-Demo-BlackCaps;
}
@media screen and (max-width:767px){
    .shop-title{
        font-size:25px;

    }
}
.shop-title1{
    color:#000000;
    font-size:50px;
    text-align:left;

}
.trending-details{
    position:relative;
}
.category{
    position:relative;
}
.categories-list-item-img{
    position:relative;
}
.categories-list-data{
    position:absolute;
    color:#006033;
    font-size:16px;
    top:20px;
    max-width:22px;
    left:20px;
    font-family: Intro-Demo-BlackCaps;
}

/* trending section */
.trending-now-section{
    background-image:url(images/trending-background.png);
    background-size:cover;
    background-repeat:no-repeat;
    position:relative;
    overflow:hidden;
}

.plant-container{
    position:relative;

}
.plant-image{
    position: absolute;
    content: "";
    left: -70px;
    width:70%;
    top:-150px;
    height: 500px;
}

.heading{
    color:#000000;
    font-size:50px;
    font-family: Intro-Demo-BlackCaps;
}
@media screen and (max-width:767px){
    .heading, .trending-sub-heading{
        text-align:center;
    }
    .trending-sec-content{
        position:absolute;
        left:0;
        content:"";
    }
}
.trending-sub-heading{
    font-size:18px;
    color:#000000;
    position:relative;
    padding-right:10px;
}
.trending-sub-heading::after{
    display:none;
 }
@media screen and (min-width:768px){
    .trending-sub-heading::after{
        display:block;
        position:absolute;
        content:"";
        top:50%;
        transform:translateY(-50%);
        border-top:1px solid #707070;
        width:96%;
        right:-22rem;
        overflow:hidden;
    }
}

.sliding-image{
    width:310px;
    height:470px;
    margin: 10px;
}
@media screen and (max-width:767px){
    .sliding-image{
        width:170px;
        height:250px;
    }
}
.slider-list-container{
    position:relative;
}
.slider-details-container{
    position:absolute;
    top:7%;
    left:12%;
}
.slider-text{
    font-size:18px;
    color:#ffffff;
    max-width:200px;
    font-family: Intro-Demo-BlackCaps;
}
@media screen and (max-width:767px){
    .slider-text{
        font-size:12px;
        max-width:100px;
    }
}
.slider-button{
    background-color:white;
    color:black;
    font-size:22px;
    font-family: Poppins-Bold;
    padding:6px 22px;
    border:none;
    cursor:pointer;
}
@media screen and (max-width:767px){
    .slider-button{
        font-size:12px;
        padding:3px 11px;
    }
}

/* whats new section */
.new-sec-position{
    position:relative;
}
.new-sec-image{
    height:500px;
    width:400px;
    margin:10px;
}
@media screen and (max-width:767px){
    .new-sec-image{
       min-height:200px;
       min-width:150px;
        margin:10px;
    }
}
.top-sec-content{
    position:absolute;
    top:8%;
    left:10%;
    text-align:center;
}
.bottom-sec-content{
    position:absolute;
    bottom:1%;
    left:10%;
    text-align:center;
}
.bottom-content{
    left:38%;
}
.whats-new-section{
    overflow:hidden;
}
.whats-new-title{
    color:#000000;
    font-size:36px;
    text-align:center;
    font-family: Intro-Demo-BlackCaps;
}
.product-text{
    font-size:25px;
    color:#000000;
    text-align:center;
    position:relative;
}
.product-text1{
    font-size:25px;
    color:#000000;
    text-align:left;
    position:relative;
    z-index:9999;
}
.product-text::before, .product-text::after, .trending-sub-heading::after{
    display:none;
}
@media screen and (min-width:768px){
    .product-text::before, .product-text::after, .trending-sub-heading::after{
        display:block;
        position:absolute;
        content:"";
        top:50%;
        transform:translateY(-50%);
        width:50%;
        border-top:1px solid #707070;
    }
    .trending-sub-heading::after{
        width:90%;
    }
    .product-text::before{
        left:-17rem;
    }
    .product-text::after, .trending-sub-heading::after{
        right:-17rem;
    }
}
.product-items{
    display:flex;
    flex-direction:column;
    align-items:center;
    flex-wrap:wrap;
}
@media screen and(min-width:768px){
    .product-items{
        flex-direction:row;
        justify-content:center;
        align-items:flex-start;
    }
}

.product-name{
    color:#244B0C;
    font-size:22px;
    font-family: Intro-Demo-BlackCaps;
}
.product-button{
    color:#ffffff;
    font-family: AvenirLTStd-Black;
    font-size:20px;
    background-color:#000000;
    border:none;
    
}
.shop-now-button{
    background-color:white;
    color:black;
    font-size:20px;
    font-family: Poppins-Bold;
    padding:6px 10px;
    border:none;
    cursor:pointer;
    text-align:center;
    
}
@media screen and (max-width:767px){
    .shop-now-button{
        font-size:12px;
        padding:4px 5px;

    }
}
.bottom-text{
    color:#000000;
    font-size:17px;
    font-family: AvenirLTStd-Roman;
    
}
/* pain section */
.identify-pain-sec{
    overflow:hidden;
    background-image:linear-gradient(to bottom, #f2f2f2, #f5f5f5, #f8f8f8, #fcfcfc, #ffffff);
}
.identify-pain-link{
    position:relative;
}
.image{
    position:relative;
}
.pain-name-text{
    color:#ffffff;
    font-size:22px;
    position:absolute;
    top:130px;
    left:20px;
    font-family: Intro-Demo-BlackCaps;
}

/* footer sec */
.links-section{
    background-color:#EAEFF2;
}
.links-title{
    color:#000000;
    /* font-family: Azosans-bold; */
    font-size:18px;
    position:relative;
    margin-bottom:32px;
    font-family: Intro-Demo-BlackCaps;
}
.links-title::after{
    position:absolute;
    content:"";
    /* width:0; */
    height:2px;
    top:50px;
    left:0px; 
    transition: .4s all linear;
    width: 20%;
    background-color:#000000;
}
.footer-links-list li + li{
    margin-top:12px;
}
.links, .details{
    color:#000000;
    font-family: AvenirLTStd-Book;
    font-size:18px;
}
/* .links:hover{
    color:#79C91B;
    transition:0.5 all linear;
} */
.user-mail{
    border:0.5px solid #707070;
    height:70px;
    background-color:#EAEFF2;
    width:100%;
    font-size:22px;
    font-family: AvenirLTStd-Book;
    padding:15px 23px;
}
.subscribe-button{
    background-image:linear-gradient(to right, #589831, #D5AC23);
    border-radius:6px;
    padding:8px 43px;
    font-family: AvenirLTStd-Black;
    font-size:28px;
    color:white;
    border:none;
    cursor:pointer;
}
.icon{
    width:21px;
}
.footer-icon{
    font-size:30px;
    /* background-color:#707070; */
    border-radius:50%;
    color:#ffffff;
    padding:12px;
}
.footer-media-links{
    margin-top:50px;
}
.links:hover{
    color:crimson;
}
.footer-media-links li + li{
    margin-left:12px;

}

.footer-copyright{
    font-family: AvenirLTStd-Book;
    font-size:25px;
    color:#000000;
    text-align:center;
    padding-top:16px;
    padding-bottom:16px;
}
@media screen and (max-width:767px){
    .footer-copyright{
        font-size:18px;
    }
}

/* our products section */
.products-nav-sec{
    background-color:#ffffff;
    color:#1F1F1F;
}
.title-text{
    color:#000000;
    font-size:25px;
    font-family: Intro-Bold-Regular;
}
.title-text1{
    color:#000000;
    font-size:25px;
}
.title-text-border{
    position:relative;
}
.title-text-border::after{
    position:absolute;
    content:"";
    top:70px;
    left:0;
    height:2px;
    width:100%;
    border-bottom:1px solid #707070;
}
.label-text{
    font-family: AvenirLTStd-Roman;
    font-size:22px;
    color:#6F6F6F;
}
.sort-container{
    background-color:#F3F7F0 !important;
    font-size:22px;
    color:#212121;
}
.title-text{
    font-size:35px;
    color:#000000;
}
@media screen and (max-width:767px){
    .title-text{
        font-size:23px;
        margin-top:12px;
        margin-bottom:12px;
    }
}
.cards-section{
    overflow:hidden;
}
.pain-management-container{
    position:relative;
    margin-top:12px;
}
.pain-management-container::after{
    position:absolute;
    content:"";
    top:60px;
    left:0;
    height:2px;
    width:100%;
    border-bottom:1px solid #707070;
}
@media screen and (max-width:768px){
    .pain-management-container::after{
        display:none;
    }
}
.each-card-details{
    background-color:#F4FAF0;
    border-radius:10px;
    max-width:290px;
}
@media screen and (max-width:767px){
    .each-card-details{
        
        align-self:center;
    }
}
.button-container{
    display:none;
}

.each-card-details:hover > .button-container{
    display:block

}
.card-description{
    color:#212121;
    font-size:20px;
    font-family: Intro-Bold-Regular;
}
.products-card-image{
    width:157px;
    height:214px;
}
.card-button{
    background-color:#ffffff;
    border:1px solid #707070;
    border-radius:5px;
    color:#000000;
    padding:5px 12px;
    cursor:pointer;
}
.card-button:hover{
    background-color:#589831;
    color:#ffffff;
}
.card-product-price{
    color:#000000;
    font-size:24px;
}
.rating{
    color:#000000;
    font-size:21px;
    font-family: AvenirLTStd-Black;
}
.light-icon{
    color:#E3E3E3;
}
.menu-icon{
    color:#767676;
}
.unclored-star::after{
    content: "\e904";
    font-family:icomoon;
    color:#E3E3E3;
}
.modal-title{
    font-size:35px;
    color:#000000;
}
.model-image1{
    height:85px;
}
/* carts-section */
.cart-list{
    height:250px;
    overflow:auto;
}
.cart-title{
    color:#000000;
    font-size:16px;
}
.model-border{
    border-right:1px solid #707070;
}
.login-title{
    color:#000000;
    font-size:24px;
}
.user-input-field{
    background-color:#F3F7F0;
    border-radius:7px;
    height:40px;
    border-bottom:none;
    border-right:none;
    border-top:none;
    border-left:1px solid #589831;

}
.remember-text{
    color:#2F2F2F;
    font-size:20px;

}
.signup-btn{
    padding:8px 12px;
    font-size:16px;
}